/* shared style */
/* font style from google */

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

  *{
    font-family: 'Work Sans', sans-serif;
  }

.pink-color{
  color: #FF42A5;
}

main{
  max-width: 1440px;
}

/* common btn */
.btn-primary{
  border: none;
  border-radius: 48px;
  background-color: #FF42A5;
  padding: 21px 40px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}



  /* header styles */

  /* nav section style */
  .nav-section,
  .nav-section ul,
  .nav-links,
  .header-nav-button,
  .header-logo{
    display: flex;
  }

.nav-section{
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0px 120px;
}
  .header-nav-button{
    width: 260px;
    height: 55px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px 100px 16px 100px;
    justify-content: space-between;
  }

  .nav-links{
    align-items: center;
  }

  .nav-section ul li{
    list-style: none;
    margin-right: 32px;
    
  }

  .nav-section ul li a,
  .header-nav-button h5{
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;

  }

  .header-logo{
    align-items: center;
  }

  .header-logo img{
    height: 40px;

  }

  .header-logo h3{
    color:#0B0223;
    font-size: 2.8rem;
    font-weight: 700;

  }

  /* banner section styles */

  .banner{
    display: flex;
    padding: 0px 120px;
    justify-content: space-between;
  }

  .banner-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .banner-heading{
    color: #F948B2;
    font-size: 5.9rem;
    font-weight: 800;
    text-transform: uppercase;
  }
  .banner-description{
    margin-top: 150px;
  }
  .banner-description p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
  }

  .btn-secondary{
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }

  /* videos section */

  .videos-section h3{
    color: #0B0223;
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
  }
  .videos-section p{
    color: #534C64;
    text-align: center;
  }

  .videos{
    margin-top: 50px;
    padding: 0px 120px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  .videos img{
    width: calc(100% - 20px);
  }

  /* online play section */
  
  .online-play{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 100px;
  }

  .online-play-description{
    padding-left: 240px;
  }

  .online-play-description h3{
    font-size: 3rem;
    font-weight: 700;
  }
  .online-play-description p{
    color: #534C64;
    font-size: 1rem;
  }
  /* .online-play-img > img{
    height: 10%;
  } */
  #gun-man{
    width: 80%;
  }

  .relative-img img{
    width: 35%;
    height: 40%;

  }
  .relative-img{
    position: relative;
    bottom: 150px;
    right: 250px;
  }

  /* game links section */

  .game-links{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 40px;
   margin-bottom: 100px;
  }

  .box{
    display: flex;
    justify-content: center;
  }
  .box p{
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0px 20px;
  }

  .box:hover{
    border: 2px solid pink;
    color: pink;
    border-radius: 50px;
  }

  /* footer section */

  footer{
    width: 100%;
    background: #0B0223;;
  }

  .footer-title{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-title h3{
    color: #FFF;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
    padding: 20px;
  }

  .footer-title img{
    height: 50px;
  }

  .footer-links{
    text-align: center;
  }

  .footer-links a{
    text-decoration: none;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 60px;
  }

  .footer-icons{
    display: flex;
    justify-content: center;
  }
  .footer-icons img{
    margin-top: 60px;
    margin-bottom: 60px;
    padding-right: 40px;
  }
  .footer-settings{
    text-align: center;
  }

  .footer-settings a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 60px;
  }
  .copyright{
    text-align: center;
  }
  .copyright p{
    color: rgba(255, 255, 255, 0.60);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
  }

  /* responsive web */
  /* responsive for mobile */

  @media screen and (max-width:576px) {
    .nav-section,
    .nav-links,
    .banner,
    .online-play{
      flex-direction: column;
    }
    .header-nav-button,
    .banner,
    .online-play-description{
      padding: 16px;
    }
    .banner-img{
      width: 100%;
    }
    .videos{
      display: flex;
      flex-direction: column;
      padding: 16px;
    }
  }