/* shared style */
/* font style from google */

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

  *{
    font-family: 'Work Sans', sans-serif;
  }

.pink-color{
  color: #FF42A5;
}

/* common btn */
.btn-primary{
  border: none;
  border-radius: 48px;
  background-color: #FF42A5;
  padding: 21px 40px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}



  /* header styles */

  /* nav section style */
  .nav-section,
  .nav-section ul,
  .nav-links,
  .header-nav-button,
  .header-logo{
    display: flex;
  }

.nav-section{
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0px 240px;
}
  .header-nav-button{
    width: 260px;
    height: 55px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px 150px 16px 150px;
    justify-content: space-between;
  }

  .nav-links{
    align-items: center;
  }

  .nav-section ul li{
    list-style: none;
    margin-right: 32px;
    
  }

  .nav-section ul li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
  }

  .header-logo{
    align-items: center;
  }

  .header-logo img{
    height: 40px;

  }

  .header-logo h3{
    color:#0B0223;
    font-size: 45px;
    font-weight: 700;

  }

  /* banner section styles */

  .banner{
    display: flex;
    padding: 0px 240px;
    justify-content: space-between;
  }

  .banner-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .banner-heading{
    color: #F948B2;
    font-size: 5.9rem;
    font-weight: 800;
    text-transform: uppercase;
  }
  .banner-description p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
  }
  .btn-secondary{
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }